<div class="col-md-6 col-md-offset-3">

   <% if @information.errors.any? %>
    <ul>
      <% item.errors.full_messages.each do |mas| %>
        <li><%= mas %></li>
      <% end %>
    </ul>
  <% end %>

  <h2>Champion's Fatigue management</h2>
  <br>

  <%= form_for @information, url: informations_path do |f| %>
    <div class="form-group">
      <%#= f.collection_select :athlete, Athlete.all, :id, :name, {prompt: "你是誰" }, {class: 'form-control'} %>
    </div>
    <div class="form-group">
      <%= f.label :name, 'Name' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :training_date, 'Training Date' %>
      <%= f.date_field :training_date, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :rest_heart_rate, "Rest Heart Rate" %>
      <%= f.text_field :rest_heart_rate, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :training_duration, placeholder: "What's on your mind?" %>
      <%= f.text_field :training_duration, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :rpe, "Session RPE" %>
      <%= f.text_area :rpe, class: 'form-control intro' %>
    </div>
    <div class="form-group">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<br>
<br>
<br>
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Training Date</th>
            <th scope="col">Rest Heart Rate</th>
            <th scope="col">Training Duration</th>
            <th scope="col">Seesion RPE</th>
          </tr>
        </thead>
        <tbody>
          <% @informations.each do |information| %>
            <tr>
              <th scope="row"><%= information.name %></th>
              <td><%= information.training_date %></td>
              <td><%= information.rest_heart_rate %></td>
              <td><%= information.training_duration %></td>
              <td><%= information.rpe %></td>
              
            </tr>
          <% end %>
        </tbody>
    </table>
